{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript" src="{% static 'js/getcurso_js.js' %}"></script>
<div class="row">
	<h1 class="center-align">Agregar Curso a su Horario</h1>
</div>
<div class="row">
	<form method="POST" action="/inicio/insertCurso/" class="col s12 m12 l12">{% csrf_token %}
		<div class="input-field col s12 m6 l6">
	    	<select id="inp_curso" name="inp_curso"> </select>
	    	<label>Seleccione Curso</label>
	  	</div>
	  	<div class="input-field col s12 m6 l6">
	    	<select id="inp_dia" name="inp_dia"></select>
	    	<label>Seleccione Dia</label>
	  	</div>
	  	<div class="input-field col s12 m6 l6">
		    <label for="inp_horaInicio">Hora Inicio</label>
		    <input id="inp_horaInicio" name="inp_horaInicio" class="timepicker" type="time">
		</div>
		<div class="input-field col s12 m6 l6">
		    <label for="inp_horaFin">Hora Fin</label>
		    <input id="inp_horaFin" name="inp_horaFin" class="timepicker" type="time">
		</div>
		<div class="row">
			<div class="col s12 m6 l6 offset-m3 offset-l3">
				<button class="btn waves-effect waves-light light-blue darken-4 col s12" type="submit" name="action">Submit
			    	<i class="material-icons right">send</i>
			  	</button>
			</div>
		</div>
	</form>
</div>
{% endblock content %}