{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
	<h2 class="center-align">Bienvenida/o: {{ request.session.userNombre }} </h2>
</div>
<div class="row">
	<p style="padding-left: 1em;padding-right: 1em;" class="flow-text center-align">
		En tu Agenda SanPablo podrás calcular tus notas, ver tu horario
		y calificar a tus profesores, además muy pronto tendrás nuevas funcionalidades a tu disposición</p>
</div>
<div class="row">
	<div class="slider">
	  <ul class="slides" style="margin-top:10vh;">
	    <li>
	      <img src="{% static 'img/imagen1.jpg' %}"> <!-- random image -->
	    </li>
			<li>
				<img class="responsive-img" width="80%" src="{% static 'img/imagen2.jpg' %}"> <!-- random image -->
			</li>
	    <li>
	      <img src="{% static 'img/imagen3.jpg' %}"> <!-- random image -->
	    </li>
	    <li>
	      <img src="{% static 'img/imagen4.jpg' %}"> <!-- random image -->
	    </li>
	  </ul>
	</div>

<style>
	.slider .indicators .indicator-item.active {
	    background-color: #42a5f5;
	}
</style>
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js'  %}"></script>
	<script type="text/javascript" src="{% static 'js/general.js'  %}"></script>
	<script type="text/javascript">
	  $(document).ready(function(){
	    $('.slider').slider({fullWidth: true, indicators: true});
	  })
	</script>
</div>
{% endblock %}
